flows.json
[{"id":"dbd2bef6.1e3ed","type":"tab","label":"regenput"},{"id":"55f19c33.7a2154","type":"tab","label":"gazonberegening"},{"id":"85bbdf0b.a85a2","type":"tab","label":"playground"},{"id":"2244ed58.4035b2","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ba51baf5.45f888","type":"ui_tab","z":"","name":"Tuin","icon":"dashboard"},{"id":"31fd0bc8.961884","type":"ui_group","z":"","name":"regenput en gazonberegening","tab":"ba51baf5.45f888","disp":true,"width":"6"},{"id":"dbe97f99.71ffc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#10cfd8","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Tiegem","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1c460eae.799661","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"tiegem","tz":""},{"id":"b7e5050b.4dc028","type":"ifttt-key","z":""},{"id":"71805ecd.b7c148","type":"udp out","z":"dbd2bef6.1e3ed","name":"send message to Arduino","addr":"192.168.1.3","iface":"","port":"8890","ipv":"udp4","outport":"8890","base64":false,"multicast":"false","x":1330,"y":140,"wires":[]},{"id":"16d9dc93.811d2b","type":"mqtt in","z":"55f19c33.7a2154","name":"zone_front_state","topic":"garden/irrigation/zone_front_state","qos":"2","broker":"2244ed58.4035b2","x":140,"y":60,"wires":[["7c3ed92d.3d17b8"]]},{"id":"7c3ed92d.3d17b8","type":"change","z":"55f19c33.7a2154","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":60,"wires":[["82cdf519.1714b"]]},{"id":"82cdf519.1714b","type":"ui_switch","z":"55f19c33.7a2154","name":"zone_front","label":"zone vooraan","group":"31fd0bc8.961884","order":0,"width":0,"height":0,"passthru":false,"topic":"garden/irrigation/zone_front","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":590,"y":60,"wires":[["a42b36f2.2ac1e"]]},{"id":"aee76515.343198","type":"mqtt in","z":"55f19c33.7a2154","name":"zone_back_state","topic":"garden/irrigation/zone_back_state","qos":"2","broker":"2244ed58.4035b2","x":140,"y":160,"wires":[["922e615b.9dcbc8"]]},{"id":"922e615b.9dcbc8","type":"change","z":"55f19c33.7a2154","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":160,"wires":[["ba24402b.f655c"]]},{"id":"ba24402b.f655c","type":"ui_switch","z":"55f19c33.7a2154","name":"zone_back","label":"zone achteraan","group":"31fd0bc8.961884","order":0,"width":0,"height":0,"passthru":false,"topic":"garden/irrigation/zone_back","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":590,"y":160,"wires":[["a42b36f2.2ac1e"]]},{"id":"3a505de4.526552","type":"mqtt in","z":"55f19c33.7a2154","name":"zone_left_state","topic":"garden/irrigation/zone_left_state","qos":"2","broker":"2244ed58.4035b2","x":140,"y":260,"wires":[["1acd2319.d9258d"]]},{"id":"1acd2319.d9258d","type":"change","z":"55f19c33.7a2154","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":260,"wires":[["dd803493.061a8"]]},{"id":"dd803493.061a8","type":"ui_switch","z":"55f19c33.7a2154","name":"zone_left","label":"zone links","group":"31fd0bc8.961884","order":0,"width":0,"height":0,"passthru":false,"topic":"garden/irrigation/zone_left","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":580,"y":260,"wires":[["a42b36f2.2ac1e"]]},{"id":"a42b36f2.2ac1e","type":"mqtt out","z":"55f19c33.7a2154","name":"","topic":"","qos":"","retain":"","broker":"2244ed58.4035b2","x":910,"y":160,"wires":[]},{"id":"c8aa3176.532f28","type":"ui_button","z":"dbd2bef6.1e3ed","name":"","group":"31fd0bc8.961884","order":0,"width":0,"height":0,"label":"Meten","color":"","bgcolor":"","icon":"","payload":"measure","payloadType":"str","topic":"","x":730,"y":220,"wires":[["71805ecd.b7c148"]]},{"id":"8ba20a81.6e3a08","type":"inject","z":"dbd2bef6.1e3ed","name":"Second Tick","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":180,"y":40,"wires":[["9354c63c.f16988"]]},{"id":"9354c63c.f16988","type":"function","z":"dbd2bef6.1e3ed","name":"Get minute","func":"function gethour() {\n var date = new Date();\n var hour = (\"0\"+date.getMinutes()).substr(-2);\n return hour;\n}\n\nvar hour=gethour();\n\nmsg = {payload:hour};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":40,"wires":[["c65bdfc.931322"]]},{"id":"c65bdfc.931322","type":"rbe","z":"dbd2bef6.1e3ed","name":"block unless change","func":"rbe","gap":"","start":"","inout":"out","x":640,"y":40,"wires":[["95826e54.61312"]]},{"id":"95826e54.61312","type":"change","z":"dbd2bef6.1e3ed","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"00","fromt":"str","to":"measure","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"30","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"10","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"20","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"40","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"50","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":40,"wires":[["7afe0964.128588"]]},{"id":"f702e900.acaca","type":"udp in","z":"dbd2bef6.1e3ed","name":"From_Arduino_regenput","iface":"","port":"8888","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":130,"y":440,"wires":[["15fb1a16.a47a86"]]},{"id":"ba65ecb8.f864e","type":"function","z":"dbd2bef6.1e3ed","name":"GetLevel_%","func":"//var parts = msg.payload.split(\"&\");\n\n//var levelStr = parts[2];\nvar level = parseInt(msg.payload);\nmsg.payload = level;\nmsg.topic = \"niveau (%)\"\n\nglobal.set(\"Cistern1_level\",level);  // this is now available to other nodes\n\nreturn msg;   ","outputs":1,"noerr":0,"x":530,"y":360,"wires":[["8998e3c4.930ca","fe2f9b3.bad52e8","a768b1e2.bc4b3","d2c27c6b.2e2b5"]]},{"id":"8998e3c4.930ca","type":"file","z":"dbd2bef6.1e3ed","name":"","filename":"currentlevel.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":760,"y":400,"wires":[]},{"id":"275c3d9c.568ba2","type":"inject","z":"dbd2bef6.1e3ed","name":"Get current level Cistern1","topic":"niveau (%)","payload":"Cistern1_level","payloadType":"global","repeat":"","crontab":"10 21 * * *","once":false,"x":220,"y":740,"wires":[["ad211bb2.4b513"]]},{"id":"b9b6524d.cedf28","type":"function","z":"dbd2bef6.1e3ed","name":"AssembleMail","func":"msg.topic = \"niveau regenput op \" + global.get(\"Cistern1_level\") + \" (dagelijkse mail)\"\nmsg.payload = \"Niveau regenput op \" + global.get(\"Cistern1_level\") + \"%\";\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":880,"wires":[["de84576e.7f6eb"]]},{"id":"de84576e.7f6eb","type":"e-mail","z":"dbd2bef6.1e3ed","server":"smtp.gmail.com","port":"465","secure":true,"name":"ruben.desmet@telenet.be","dname":"send daily mail with level Cistern1","x":460,"y":880,"wires":[]},{"id":"fe2f9b3.bad52e8","type":"ui_gauge","z":"dbd2bef6.1e3ed","name":"Update level in GUI","group":"31fd0bc8.961884","order":0,"width":0,"height":0,"gtype":"wave","title":"niveau","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":770,"y":460,"wires":[]},{"id":"e38913da.1be4c8","type":"pushover","z":"dbd2bef6.1e3ed","name":"","device":"","title":"","priority":0,"sound":"","url":"","url_title":"","x":1220,"y":720,"wires":[]},{"id":"ad211bb2.4b513","type":"function","z":"dbd2bef6.1e3ed","name":"AssemblePushOverMessage","func":"msg.topic = \"niveau regenput\"\nmsg.payload = \"niveau regenput op \" + global.get(\"Cistern1_level\") + \"%\";\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":740,"wires":[["e38913da.1be4c8"]]},{"id":"4f15d029.58465","type":"mysql","z":"dbd2bef6.1e3ed","mydb":"1c460eae.799661","name":"tiegem","x":530,"y":520,"wires":[["c9babc5f.9e1e9"]]},{"id":"23b0ce8c.d21fa2","type":"exec","z":"dbd2bef6.1e3ed","command":"curl","addpay":true,"append":"","useSpawn":"","timer":"","name":"curl","x":1790,"y":420,"wires":[["2a548ae0.489c96"],["2a548ae0.489c96"],["2a548ae0.489c96"]]},{"id":"f8a0bdf0.103ba","type":"function","z":"dbd2bef6.1e3ed","name":"AssembleCurlCommand","func":"msg.payload = \"curl -i -XPOST 'https://corlysis.com:8086/write?db=Tiegem' -u token:0a9aef1b413c0eb35237951abb2415c5 --data-binary 'level,place=regenput value=\" + global.get(\"Cistern1_level_cm\") + \"'\";\n\nreturn msg;  ","outputs":1,"noerr":0,"x":1370,"y":560,"wires":[["23b0ce8c.d21fa2"]]},{"id":"8cd70395.c12c5","type":"inject","z":"dbd2bef6.1e3ed","name":"heartbeat","topic":"","payload":"heartbeat","payloadType":"str","repeat":"300","crontab":"","once":true,"x":170,"y":120,"wires":[["71805ecd.b7c148"]]},{"id":"a803b920.4fb388","type":"function","z":"dbd2bef6.1e3ed","name":"GetLevel_cm","func":"//var parts = msg.payload.split(\"&\");\n\n//var distanceStr = parts[1];\nvar distance = parseInt(msg.payload)/10;\nmsg.payload = distance;\nmsg.topic = \"niveau (cm)\"\n\nglobal.set(\"Cistern1_level_cm\",distance);  // this is now available to other nodes\n\nreturn msg;   ","outputs":1,"noerr":0,"x":550,"y":580,"wires":[["f8a0bdf0.103ba"]]},{"id":"aa2dced8.e70f6","type":"inject","z":"dbd2bef6.1e3ed","name":"measure","topic":"","payload":"measure","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":160,"wires":[["71805ecd.b7c148"]]},{"id":"cc7c27d6.d548e8","type":"function","z":"dbd2bef6.1e3ed","name":"ParseMessage","func":"const T1_CAPACITY = 18821;  //liters : toch manhole niet meegerekend\n//const OFFSET_SENSOR = 85;\nconst OFFSET_SENSOR = 42;\n\nvar parts = msg.payload.split(\"&\");\n\nvar tankStr = parts[0];\nvar rawADCValueStr = parts[1];\n//var levelStr = parts[2];\n//var distanceStr = parts[1];\n//var levelStr = parts[2];\n//var speedStr = parts[3];\nvar heartBeatStatusStr = parts[2];\n\n\n\nvar tank = parseInt(tankStr.split(\"=\")[1]);\n//var distance = parseFloat(distanceStr.split(\"=\")[1]);\n//var level = parseFloat(levelStr.split(\"=\")[1]);\n//_lastLevel = Math.round(level);\n//var speed = speedStr.split(\"=\")[1];\n\n//RUD, 18/12/2016 : mailing is not done from Arduino anymore\nvar sendMail = false;\n//var isResponseFromQuestion = false;\n//var mailSent = sendmailStr.split(\"=\")[1];\n//if (mailSent==\"1\") {\n//    //sent mail because level changed\n//    sendMail = true;\n//} else if (mailSent==\"2\") {\n//    //send mail because server has asked a measurement (daily mail)\n//    sendMail = true;\n//    isResponseFromQuestion = true;\n//}\n\nvar rawADCValue = parseInt(rawADCValueStr.split(\"=\")[1].trim());\nvar heartBeatStatusId = parseInt(heartBeatStatusStr.split(\"=\")[1].trim());\n\nvar heartBeatStatus = \"?\";\nswitch (heartBeatStatusId) {\n    case 0:\n        heartBeatStatus = \"NOK\";\n        break;\n    case 1:\n        heartBeatStatus = \"OK\";\n        break;\n    case 2:\n        heartBeatStatus = \"WAITING\";\n        break;\n}\n\n//todo: calculate distance and %\n\n    //rawADCValue = (rawADCValue - OFFSET_SENSOR) * (5.5 / 4.7);\n    rawADCValue = (rawADCValue - OFFSET_SENSOR);\n\n    //var f1 = (5000.0 / 1023) * (50.0 / 4700) * (1000.0 / (9.81*999.58)) + 0.0;   //zonder temperatuurcompensatie want zit eigenlijk al in de sensor\n    var f1 = (5500.0 / 1023) * (50.0 / 4700) * (1000.0 / (9.81*999.58)) + 0.0;   //zonder temperatuurcompensatie want zit eigenlijk al in de sensor\n    var distance = Math.round(rawADCValue * f1 * 1000);   //mm\n\n    //2* omdat er 2 putten zijn die met een hevel verbonden zijn\n    var volume = 2 * (rawADCValue * f1) * ((3.1415 * 2.35 * 2.35) / 4) * 1000;\n\n//var level = Math.round((volume / (T1_CAPACITY * 1.0)) * 100);\n\nif (distance > 2000) distance = 2000;\nvar level = Math.round((distance / 2000) * 100);\n\n//if (level > 100) level = 100;\n//if (distance > 2000)\n//{\n//  distance = 2000;\n//  level = 100;\n//}\n\nvar query = \"insert into regenput (Tank, LevelValue, LevelValuePercentage, MailSent, HeartBeatStatusId)\" + \" values (\" + tank + \",\" + distance + \",\" + level + \",\" + sendMail + \",'\" + heartBeatStatus + \"')\";\n\nmsg.topic = query;\n\nvar output2 = { payload: distance };\nvar output3 = { payload: level};\n\nreturn [msg, output2, output3];","outputs":"3","noerr":0,"x":348,"y":520,"wires":[["4f15d029.58465"],["a803b920.4fb388"],["ba65ecb8.f864e"]]},{"id":"a768b1e2.bc4b3","type":"function","z":"dbd2bef6.1e3ed","name":"AssembleCurlCommand","func":"msg.payload = \"curl -i -XPOST 'https://corlysis.com:8086/write?db=Tiegem' -u token:0a9aef1b413c0eb35237951abb2415c5 --data-binary 'level%,place=regenput value=\" + global.get(\"Cistern1_level\") + \"'\";\n\nreturn msg;  ","outputs":1,"noerr":0,"x":1370,"y":320,"wires":[["23b0ce8c.d21fa2"]]},{"id":"a18a913f.652d8","type":"ping","z":"dbd2bef6.1e3ed","name":"ping to Arduino regenputmonitor","host":"192.168.1.3","timer":"60","x":210,"y":800,"wires":[[]]},{"id":"c49fb498.a9dbc8","type":"debug","z":"dbd2bef6.1e3ed","name":"","active":true,"console":"false","complete":"false","x":1293,"y":8,"wires":[]},{"id":"7afe0964.128588","type":"switch","z":"dbd2bef6.1e3ed","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"measure","vt":"str"}],"checkall":"false","outputs":1,"x":1050,"y":40,"wires":[["71805ecd.b7c148","c49fb498.a9dbc8"]]},{"id":"c9babc5f.9e1e9","type":"function","z":"dbd2bef6.1e3ed","name":"calculate moving average","func":"msg.topic = \"SELECT avg(LevelValue/10) as SensorAverage, avg(LevelValuePercentage) as PercentageAverage FROM (SELECT * from tiegem.regenput ORDER BY `Id` DESC LIMIT 5) temp\"\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":520,"wires":[["5ffe3226.5d4f5c"]]},{"id":"5ffe3226.5d4f5c","type":"mysql","z":"dbd2bef6.1e3ed","mydb":"1c460eae.799661","name":"tiegem","x":990,"y":520,"wires":[["56065f70.dce7d"]]},{"id":"56065f70.dce7d","type":"function","z":"dbd2bef6.1e3ed","name":"retrieve results","func":"// if (msg.payload) \n// {\n//   //no results\n// } \n// else\n// {\n//     global.set(\"Cistern1_level_mavg_cm\",msg.payload[0].SensorAverage);       // this is now available to other nodes\n//     global.set(\"Cistern1_level_mavg_%\",msg.payload[0].PercentageAverage);   // this is now available to other nodes\n// }\n\nglobal.set(\"Cistern1_level_mavg_cm\",msg.payload[0].SensorAverage);       // this is now available to other nodes\nglobal.set(\"Cistern1_level_mavg_%\",msg.payload[0].PercentageAverage);   // this is now available to other nodes\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":520,"wires":[["40bdc375.a30fcc","c5f36cea.70073"]]},{"id":"40bdc375.a30fcc","type":"function","z":"dbd2bef6.1e3ed","name":"AssembleCurlCommand","func":"msg.payload = \"curl -i -XPOST 'https://corlysis.com:8086/write?db=Tiegem' -u token:0a9aef1b413c0eb35237951abb2415c5 --data-binary 'level_mavg,place=regenput value=\" + global.get(\"Cistern1_level_mavg_cm\") + \"'\";\n\nreturn msg;  ","outputs":1,"noerr":0,"x":1390,"y":440,"wires":[["23b0ce8c.d21fa2"]]},{"id":"c5f36cea.70073","type":"function","z":"dbd2bef6.1e3ed","name":"AssembleCurlCommand","func":"msg.payload = \"curl -i -XPOST 'https://corlysis.com:8086/write?db=Tiegem' -u token:0a9aef1b413c0eb35237951abb2415c5 --data-binary 'level_mavg_%,place=regenput value=\" + global.get(\"Cistern1_level_mavg_%\") + \"'\";\n\nreturn msg;  ","outputs":1,"noerr":0,"x":1390,"y":500,"wires":[["23b0ce8c.d21fa2"]]},{"id":"2a548ae0.489c96","type":"debug","z":"dbd2bef6.1e3ed","name":"","active":false,"console":"false","complete":"true","x":2010,"y":500,"wires":[]},{"id":"ac6bd72d.17af68","type":"inject","z":"85bbdf0b.a85a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":80,"wires":[["1879006.8cffb"]]},{"id":"5d9b7778.788b08","type":"function","z":"85bbdf0b.a85a2","name":"write to Loggly","func":"var require = global.get('require');\n\nvar winston = require('winston');\nrequire('winston-loggly-bulk');\n\n// var loggly = new winston.transports.Loggly({\n//     token: \"d06f5bfe-23b8-4d9f-9044-1b167e96daa2\",\n//     subdomain: \"rubendesmet\",\n//     tags: [\"RPI playground\"],\n//     json:true\n// });\n\n// winston.add(loggly);\n \n winston.add(winston.transports.Loggly, {\n    token: \"d06f5bfe-23b8-4d9f-9044-1b167e96daa2\",\n    subdomain: \"rubendesmet\",\n    tags: \"RPI_playground\",\n    json:true\n});\n\nwinston.log('info',\"Hello World from Node.js!\");\nwinston.clear();\n//winston.remove(loggly);\n//winlog.flushLogsAndExit();  --> causes node-red to crash\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":80,"wires":[[]]},{"id":"2bbe20ac.556d3","type":"debug","z":"85bbdf0b.a85a2","name":"","active":true,"console":"false","complete":"true","x":730,"y":80,"wires":[]},{"id":"1879006.8cffb","type":"function","z":"85bbdf0b.a85a2","name":"write to Loggly","func":"var require = global.get('require');\nconst winston = require('winston');\nvar winlog = require('winston-loggly-bulk');\n\nvar loggly = new winston.transports.Loggly({\n    token: \"d06f5bfe-23b8-4d9f-9044-1b167e96daa2\",\n    subdomain: \"rubendesmet\",\n    tags: [\"RPI_playground\"],\n    json: true,\n    level: \"silly\"\n});\n\nwinston.add(loggly, null, true);\n\n//winston.log('fatal', \"fatal 666\");        werkt niet\nwinston.log('error', \"error 666\");\nwinston.log('verbose', \"verbose 666\");\nwinston.log('warn', \"warn 666\");\n//winston.log('warning', \"warning 666\");    werkt niet\nwinston.log('info', \"info 666\");\nwinston.log('debug', \"debug 666\");\nwinston.log('silly', \"silly 666\");\n//winston.log('trace', \"trace 666\");        werkt niet\n\nwinston.remove(loggly);\n//winlog.flushLogsAndExit();\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":140,"wires":[["2bbe20ac.556d3"]]},{"id":"70a80021.0d81","type":"switch","z":"dbd2bef6.1e3ed","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","outputs":2,"x":610,"y":800,"wires":[["d650df9d.b23f4"],[]]},{"id":"d650df9d.b23f4","type":"function","z":"dbd2bef6.1e3ed","name":"AssemblePushOverMessage","func":"msg.topic = \"Arduino regenput niet bereikbaar\"\nmsg.payload = \"Arduino regenput niet bereikbaar via PING\";\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":800,"wires":[["e38913da.1be4c8"]]},{"id":"15fb1a16.a47a86","type":"switch","z":"dbd2bef6.1e3ed","name":"ContextSwitcher","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^t=1&adc=.","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":2,"x":160,"y":560,"wires":[["cc7c27d6.d548e8"],["593e909b.f9809"]]},{"id":"593e909b.f9809","type":"function","z":"dbd2bef6.1e3ed","name":"SendToLoggly","func":"var parts = msg.payload.split(\";\");\n\nvar logLevel = parts[0];\nvar logMsg1 = parts[1];\nvar logMsg2 = parts[2];\n\nvar require = global.get('require');\nconst winston = require('winston');\nvar winlog = require('winston-loggly-bulk');\n\nvar loggly = new winston.transports.Loggly({\n    token: \"d06f5bfe-23b8-4d9f-9044-1b167e96daa2\",\n    subdomain: \"rubendesmet\",\n    tags: [\"Arduino_regenput\"],\n    json: true,\n    level: \"silly\"\n});\n\nwinston.add(loggly, null, true);\n\nif (logMsg2 !== undefined)\n{\n    winston.log(logLevel, logMsg1 + \";\" + logMsg2);\n}\nelse\n{\n    winston.log(logLevel, logMsg1);\n}\n\nwinston.remove(loggly);\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":660,"wires":[["f9523787.abb638"]]},{"id":"f9523787.abb638","type":"debug","z":"dbd2bef6.1e3ed","name":"","active":false,"console":"false","complete":"true","x":550,"y":660,"wires":[]},{"id":"55207b91.4f3be4","type":"ifttt out","z":"85bbdf0b.a85a2","eventName":"Tahoma_all_up","key":"b7e5050b.4dc028","x":419,"y":337,"wires":[]},{"id":"a9b4f6c2.c69568","type":"inject","z":"85bbdf0b.a85a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":171,"y":347,"wires":[["55207b91.4f3be4"]]},{"id":"a3608a5f.5e2928","type":"ifttt out","z":"85bbdf0b.a85a2","eventName":"Tahoma_all_down","key":"b7e5050b.4dc028","x":433,"y":276,"wires":[]},{"id":"b5b9a70d.fb1a98","type":"inject","z":"85bbdf0b.a85a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":163,"y":280,"wires":[["a3608a5f.5e2928"]]},{"id":"8a681e55.d369f","type":"ifttt out","z":"85bbdf0b.a85a2","eventName":"TestEvent","key":"b7e5050b.4dc028","x":637,"y":487,"wires":[]},{"id":"4b5519c6.bebe38","type":"inject","z":"85bbdf0b.a85a2","name":"","topic":"","payload":"Test123456","payloadType":"str","repeat":"","crontab":"","once":false,"x":165,"y":493.8499755859375,"wires":[["5eae2bb6.4dcb24"]]},{"id":"5eae2bb6.4dcb24","type":"function","z":"85bbdf0b.a85a2","name":"TestMessage","func":"//msg.payload.Value1 = \"W1\";\n//msg.payload.Value2 = \"W2\";\n//msg.payload.Value3 = \"W3\";\n\nvar v1 = \"v1\";\nvar v2 = \"v2\";\nvar v3 = \"v3\";\n\nmsg.payload = {'value1' : v1, 'value2' : v2, 'value3' : v3};\n\nreturn msg;","outputs":1,"noerr":0,"x":400.5,"y":461.70001220703125,"wires":[["8a681e55.d369f"]]},{"id":"2d744ef6.9a7422","type":"inject","z":"dbd2bef6.1e3ed","name":"setledlevel","topic":"","payload":"setleds;53","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":200,"wires":[["71805ecd.b7c148"]]},{"id":"d2c27c6b.2e2b5","type":"function","z":"dbd2bef6.1e3ed","name":"SetLEDS","func":"msg.payload = \"setleds;\" + global.get(\"Cistern1_level\");\n\nreturn msg;  ","outputs":1,"noerr":0,"x":740,"y":300,"wires":[["71805ecd.b7c148"]]}]